@model Helpers.Models.Personnel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
    <br />
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(x => x.Name, htmlAttributes: new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.TextBoxFor(x => x.Name)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Lastname, htmlAttributes: new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.TextBoxFor(x => x.Lastname)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Birthdate, htmlAttributes: new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">

            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.TC, htmlAttributes: new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.TextBoxFor(x => x.TC)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Gender, htmlAttributes: new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.DropDownListFor(x => x.Gender, Model.Genders, "Choose one")
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Status, htmlAttributes: new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.DropDownListFor(x => x.Status, Model.Statuses, "Choose one")
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.HaveKid, htmlAttributes: new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.CheckBoxFor(x => x.HaveKid) Do you have children?
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Password, htmlAttributes: new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.PasswordFor(x => x.Password)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Info, htmlAttributes: new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.TextAreaFor(x => x.Info, htmlAttributes: new { @cols = 30, @rows = 5 })
            </div>
        </div>
    </div>
}